In [52]:
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

import seaborn as sns

import internal_ref as ref

In [53]:
_14 = ref.HI + '/ACS_14_1YR_B992701_with_ann.csv'
_13 = ref.HI + '/ACS_13_1YR_B992701_with_ann.csv'
_12 = ref.HI + '/ACS_12_1YR_B992701_with_ann.csv'
_11 = ref.HI + '/ACS_11_1YR_B992701_with_ann.csv'
_10 = ref.HI + '/ACS_10_1YR_B992701_with_ann.csv'
_09 = ref.HI + '/ACS_09_1YR_B992701_with_ann.csv'
_08 = ref.HI + '/ACS_08_1YR_B992701_with_ann.csv'

In [54]:
hi14 = pd.read_csv(_14, encoding='latin-1', skiprows=1)
hi13 = pd.read_csv(_13, encoding='latin-1', skiprows=1)
hi12 = pd.read_csv(_12, encoding='latin-1', skiprows=1)
hi11 = pd.read_csv(_11, encoding='latin-1', skiprows=1)
hi10 = pd.read_csv(_10, encoding='latin-1', skiprows=1)
hi09 = pd.read_csv(_09, encoding='latin-1', skiprows=1)
hi08 = pd.read_csv(_08, encoding='latin-1', skiprows=1)

In [55]:
# Add Year to each health insurance dataset
hi14['Year'] = 2014
hi13['Year'] = 2013
hi12['Year'] = 2012
hi11['Year'] = 2011
hi10['Year'] = 2010
hi09['Year'] = 2009
hi08['Year'] = 2008

In [56]:
# Change column ids for ease of merging
final_cols = ['Id', 'Id2', 'Geography', 'Est_total_pop',
             'Est_1_HI_pop', 'Est_0_HI_pop', 'Year']


hi14.columns = final_cols
hi13.columns = final_cols
hi12.columns = final_cols
hi11.columns = final_cols
hi10.columns = final_cols
hi09.columns = final_cols
hi08.columns = final_cols

In [57]:
df_hi = pd.concat([hi14, hi13, hi12, hi11, hi10, hi09, hi08], axis=0, 
                  ignore_index=True )

In [104]:
# Save 
filename = ref.Home + '/HI.csv'
df_hi.to_csv(filename, index_label=False)

## Analysis

In [18]:
df_hi.head(3)

,Id,Id2,Geography,Est_total_pop,Est_1+_HI_pop,Est_0_HI_pop,Year
0,0500000US01003,1003,"Baldwin County, Alabama",197501,22613,174888,2014
1,0500000US01015,1015,"Calhoun County, Alabama",114583,14036,100547,2014
2,0500000US01043,1043,"Cullman County, Alabama",80363,8514,71849,2014

In [43]:
df_hi.groupby('Year').sum()

           Id2  Est_total_pop  Est_1+_HI_pop  Est_0_HI_pop
Year
2008  23628237      249650388       26856457     222793931
2009  23692583      252636926       22043029     230593897
2010  24188662      255459275       24533495     230925780
2011  24320248      258000154       24660078     233340076
2012  24397345      260583382       26274391     234308991
2013  24492626      263000839       33119923     229880916
2014  24492626      265750996       34801057     230949939

In [31]:
df_hi.groupby('Year').Geography.describe()

     count unique                   top freq
Year
2008   790    790  Lake County, Indiana    1
2009   792    792  Lake County, Indiana    1
2010   807    807  Lake County, Indiana    1
2011   811    811  Lake County, Indiana    1
2012   814    814  Lake County, Indiana    1
2013   817    817  Lake County, Indiana    1
2014   817    817  Lake County, Indiana    1

In [45]:
basegeolst = list(hi08.Geography.unique())

### Exploration via Pivot Table

In [39]:
pt_hi = df_hi.pivot_table(values = ['Est_total_pop', 'Est_1+_HI_pop', 'Est_0_HI_pop'],
                                    index = 'Year', columns = 'Geography', dropna=True)
pt_hi.head(3)

               Est_0_HI_pop                                                \
Geography Ada County, Idaho Adams County, Colorado Adams County, Illinois
Year
2008               332486.0               392902.0                57024.0
2009               336454.0               412153.0                59433.0
2010               332734.0               406971.0                56718.0

                                                                   \
Geography Adams County, Pennsylvania Aiken County, South Carolina
Year
2008                         88612.0                     135890.0
2009                         93134.0                     139850.0
2010                         90711.0                     142815.0

                                                                   \
Geography Alachua County, Florida Alamance County, North Carolina
Year
2008                     210836.0                        128767.0
2009                     218633.0                        128320.0
2010                     218969.0                        131367.0

                                                              \
Geography Alameda County, California Albany County, New York
Year
2008                       1320259.0                255448.0
2009                       1365529.0                265955.0
2010                       1375998.0                271527.0

                                             ...           \
Geography Albemarle County, Virginia         ...
Year                                         ...
2008                         82910.0         ...
2009                         85719.0         ...
2010                         86380.0         ...

                   Est_total_pop                          \
Geography Yamhill County, Oregon Yavapai County, Arizona
Year
2008                     95677.0                213711.0
2009                     96845.0                213886.0
2010                     97350.0                206533.0

                                                               \
Geography Yellowstone County, Montana Yolo County, California
Year
2008                         139556.0                196055.0
2009                         143099.0                198340.0
2010                         145842.0                199916.0

                                                        \
Geography York County, Maine York County, Pennsylvania
Year
2008                199184.0                  417949.0
2009                199991.0                  423400.0
2010                194655.0                  430439.0

                                                             \
Geography York County, South Carolina York County, Virginia
Year
2008                         216097.0                   NaN
2009                         224807.0                   NaN
2010                         225117.0               62685.0


Geography Yuba County, California Yuma County, Arizona
Year
2008                      71222.0             187701.0
2009                      69340.0             189328.0
2010                      68357.0             190933.0

[3 rows x 2454 columns]

In [40]:
pt_hi_stk = pt_hi.stack()
pt_hi_stk.head(3)

                             Est_0_HI_pop  Est_1+_HI_pop  Est_total_pop
Year Geography
2008 Ada County, Idaho           332486.0        38568.0       371054.0
     Adams County, Colorado      392902.0        35761.0       428663.0
     Adams County, Illinois       57024.0         8411.0        65435.0

### Creation of csv for d3 test

In [61]:
df_hi['HI_ratio'] = df_hi['Est_1_HI_pop']/df_hi['Est_total_pop']

In [71]:
df_hi_2014 = df_hi[df_hi.Year == 2014]

In [72]:
df_hi_2014.drop(['Id', 'Geography', 'Est_total_pop', 'Est_1_HI_pop',
       'Est_0_HI_pop', 'Year'], axis=1, inplace=True)

/Users/allandong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [79]:
df_hi_2014_filename = ref.Home + '/df_hi_2014.tsv'
df_hi_2014.to_csv(df_hi_2014_filename, sep=' ')

In [96]:
df_hi_2014['county_id'] = df_hi_2014['Id2'].map(lambda x: (str(x)[:-3], str(x)[-3:]))

/Users/allandong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [103]:
df_hi_2014.dtypes

Id2            int64
HI_ratio     float64
county_id     object
dtype: object

In [99]:
df_hi_2014_filename = ref.Home + '/df_hi_2014_1.csv'
df_hi_2014.to_csv(df_hi_2014_filename, index_label=False)