In [45]:
import internal_ref as ref

import pandas as pd
import os.path

# Create Legend

In [46]:
os.chdir(ref.Unemployment)

In [47]:
series = ref.Unemployment + '/la.series.txt'
df_series = pd.read_csv(series, sep='\t', index_col=False)

df_series1 = df_series.drop(['area_type_code', 
                             'measure_code', 
                             'seasonal', 
                             'srd_code', 
                             'footnote_codes',
                             'begin_year', 
                             'begin_period', 
                             'end_year', 
                             'end_period'
                            ], axis =1)

In [48]:
df_series1.head(3)

,series_id,area_code,series_title
0,LASBS060000000000003,BS0600000000000,"Unemployment Rate: Balance of California, stat..."
1,LASBS060000000000004,BS0600000000000,"Unemployment: Balance of California, state les..."
2,LASBS060000000000005,BS0600000000000,"Employment: Balance of California, state less ..."

In [49]:
areamaps = ref.Unemployment + '/la.areamaps.txt'
df_area = pd.read_csv(areamaps, sep='\t', index_col=False)

df_area1 = df_area.drop(['area_type_code',
                         'display_level',
                         'selectable',
                         'sort_sequence'
                        ], axis=1)

In [50]:
df_area1.head(3)

         area_code area_text
0  ST0100000000000   Alabama
1  ST0200000000000    Alaska
2  ST0400000000000   Arizona

In [51]:
df_legend = pd.merge(df_series1, df_area1, how='left', left_on='area_code', right_on='area_code')

In [52]:
df_legend.head(3)

,series_id,area_code,series_title,area_text
0,LASBS060000000000003,BS0600000000000,"Unemployment Rate: Balance of California, stat...","Balance of California, state less Los Angeles-..."
1,LASBS060000000000004,BS0600000000000,"Unemployment: Balance of California, state les...","Balance of California, state less Los Angeles-..."
2,LASBS060000000000005,BS0600000000000,"Employment: Balance of California, state less ...","Balance of California, state less Los Angeles-..."

In [53]:
legend = ref.Unemployment + '/legend'
df_legend.to_csv(legend)

# Test on Arkansas file

In [54]:

filename = ref.Unemployment + '/la.data.10.Arkansas.txt'

df = pd.read_csv(filename, sep = '\t', index_col=False)

df1 = df.drop('footnote_codes', 1)

In [55]:
df1.head(3)

                        series_id  year period  value
0  LASST050000000000003            1976    M01    7.6
1  LASST050000000000003            1976    M02    7.5
2  LASST050000000000003            1976    M03    7.4

In [56]:
df_mod = pd.merge(df1, df_legend, how='left', left_on='series_id', right_on='series_id')

In [57]:
df_mod.head()

,series_id,year,period,value,area_code,series_title,area_text
0,LASST050000000000003,1976,M01,7.6,ST0500000000000,Unemployment Rate: Arkansas (S),Arkansas
1,LASST050000000000003,1976,M02,7.5,ST0500000000000,Unemployment Rate: Arkansas (S),Arkansas
2,LASST050000000000003,1976,M03,7.4,ST0500000000000,Unemployment Rate: Arkansas (S),Arkansas
3,LASST050000000000003,1976,M04,7.3,ST0500000000000,Unemployment Rate: Arkansas (S),Arkansas
4,LASST050000000000003,1976,M05,7.2,ST0500000000000,Unemployment Rate: Arkansas (S),Arkansas

In [58]:
df_mod1999= df_mod[df_mod.year>=1999]

In [59]:
df_ark = df_mod1999[df_mod1999.series_title.str.findall(r'Unemployment Rate').str.len() != 0]

In [60]:
df_ark.head(3)

,series_id,year,period,value,area_code,series_title,area_text
276,LASST050000000000003,1999,M01,4.8,ST0500000000000,Unemployment Rate: Arkansas (S),Arkansas
277,LASST050000000000003,1999,M02,4.7,ST0500000000000,Unemployment Rate: Arkansas (S),Arkansas
278,LASST050000000000003,1999,M03,4.6,ST0500000000000,Unemployment Rate: Arkansas (S),Arkansas

In [61]:
df_ark[df_ark.area_text=='Little Rock city, AR']

,series_id,year,period,value,area_code,series_title,area_text
125477,LAUCT054100000000003,1999,M01,3.8,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125478,LAUCT054100000000003,1999,M02,3.6,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125479,LAUCT054100000000003,1999,M03,3.3,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125480,LAUCT054100000000003,1999,M04,3.1,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125481,LAUCT054100000000003,1999,M05,3.3,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125482,LAUCT054100000000003,1999,M06,3.8,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125483,LAUCT054100000000003,1999,M07,3.9,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125484,LAUCT054100000000003,1999,M08,3.7,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125485,LAUCT054100000000003,1999,M09,3.6,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125486,LAUCT054100000000003,1999,M10,3.3,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125487,LAUCT054100000000003,1999,M11,3.1,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125488,LAUCT054100000000003,1999,M12,3.2,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125489,LAUCT054100000000003,1999,M13,3.5,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125490,LAUCT054100000000003,2000,M01,4.4,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125491,LAUCT054100000000003,2000,M02,4.3,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125492,LAUCT054100000000003,2000,M03,4.0,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125493,LAUCT054100000000003,2000,M04,3.6,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125494,LAUCT054100000000003,2000,M05,4.0,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125495,LAUCT054100000000003,2000,M06,4.1,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125496,LAUCT054100000000003,2000,M07,4.3,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125497,LAUCT054100000000003,2000,M08,3.9,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125498,LAUCT054100000000003,2000,M09,3.7,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125499,LAUCT054100000000003,2000,M10,3.3,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125500,LAUCT054100000000003,2000,M11,3.5,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125501,LAUCT054100000000003,2000,M12,3.7,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125502,LAUCT054100000000003,2000,M13,3.9,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125503,LAUCT054100000000003,2001,M01,4.5,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125504,LAUCT054100000000003,2001,M02,4.3,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125505,LAUCT054100000000003,2001,M03,4.1,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125506,LAUCT054100000000003,2001,M04,4.2,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
...,...,...,...,...,...,...,...
125688,LAUCT054100000000003,2015,M04,4.5,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125689,LAUCT054100000000003,2015,M05,4.8,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125690,LAUCT054100000000003,2015,M06,4.8,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125691,LAUCT054100000000003,2015,M07,5.0,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125692,LAUCT054100000000003,2015,M08,4.4,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125693,LAUCT054100000000003,2015,M09,4.1,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125694,LAUCT054100000000003,2015,M10,3.7,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125695,LAUCT054100000000003,2015,M11,3.6,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125696,LAUCT054100000000003,2015,M12,3.6,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125697,LAUCT054100000000003,2015,M13,4.5,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125698,LAUCT054100000000003,2016,M01,4.0,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125699,LAUCT054100000000003,2016,M02,3.9,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125700,LAUCT054100000000003,2016,M03,3.5,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125701,LAUCT054100000000003,2016,M04,3.2,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125702,LAUCT054100000000003,2016,M05,3.4,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125703,LAUCT054100000000003,2016,M06,3.8,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125704,LAUCT054100000000003,2016,M07,3.9,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125705,LAUCT054100000000003,2016,M08,3.6,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125706,LAUCT054100000000003,2016,M09,3.5,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125707,LAUCT054100000000003,2016,M10,3.1,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125708,LAUCT054100000000003,2016,M11,3.1,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125709,LAUCT054100000000003,2016,M12,3.3,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125710,LAUCT054100000000003,2016,M13,3.5,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125711,LAUCT054100000000003,2017,M01,3.6,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125712,LAUCT054100000000003,2017,M02,3.8,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125713,LAUCT054100000000003,2017,M03,3.3,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125714,LAUCT054100000000003,2017,M04,2.8,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125715,LAUCT054100000000003,2017,M05,3.1,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125716,LAUCT054100000000003,2017,M06,3.3,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"
125717,LAUCT054100000000003,2017,M07,3.4,CT0541000000000,"Unemployment Rate: Little Rock city, AR (U)","Little Rock city, AR"

# Merge

In [65]:
os.chdir(ref.Unemployment)

In [66]:
_95_99 = ref.Unemployment + '/la.data.0.CurrentU95-99.txt'
df_9599 = pd.read_csv(_95_99, sep='\t')

In [67]:
df_9599.head(3)

                        series_id  year period  value footnote_codes
0  LAUBS060000000000003            1995    M01    8.5
1  LAUBS060000000000003            1995    M02    8.1
2  LAUBS060000000000003            1995    M03    8.1

In [68]:
_00_04 = ref.Unemployment + '/la.data.0.CurrentU00-04.txt'
df_0004 = pd.read_csv(_00_04, sep='\t')

In [69]:
df_0004.head(3)

                        series_id  year period  value footnote_codes
0  LAUBS060000000000003            2000    M01    5.2
1  LAUBS060000000000003            2000    M02    5.3
2  LAUBS060000000000003            2000    M03    5.4

In [70]:
# 05_09 file returned errors saying multiples dtypes, wanted specified
_05_09 = ref.Unemployment + '/la.data.0.CurrentU05-09.txt'
df_0509=pd.read_csv(_05_09, sep='\t', dtype={'series_id' : str, 
                                             'year' : int, 
                                             'period' : str, 
                                             'value' : object,
                                             'footnote_codes' : str})

In [71]:
df_0509.head(3)

                        series_id  year period         value footnote_codes
0  LAUBS060000000000003            2005    M01           6.2
1  LAUBS060000000000003            2005    M02           6.2
2  LAUBS060000000000003            2005    M03           6.0

In [72]:
_10_14 = ref.Unemployment + '/la.data.0.CurrentU10-14.txt'
df_1014 = pd.read_csv(_10_14, sep='\t')

In [73]:
df_1014.head(3)

                        series_id  year period  value footnote_codes
0  LAUBS060000000000003            2010    M01   12.7
1  LAUBS060000000000003            2010    M02   12.7
2  LAUBS060000000000003            2010    M03   12.8

In [74]:
df_99 = df_9599[df_9599.year==1999]

In [75]:
df_99.head(3)

                         series_id  year period  value footnote_codes
52  LAUBS060000000000003            1999    M01    5.9
53  LAUBS060000000000003            1999    M02    5.8
54  LAUBS060000000000003            1999    M03    5.6

In [76]:
df = pd.concat([df_99, df_0004, df_0509, df_1014], axis=0, ignore_index=True)

In [77]:
df_merge = pd.merge(df, df_legend, how='left', left_on='series_id', right_on='series_id')

In [81]:
df_unem = df_merge[df_merge.series_title.str.find(r'Unemployment Rate') != -1]

In [82]:
df_unem.rename(columns = {'value':'unemployment_rate'}, inplace=True)

/Users/allandong/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [83]:
df_unem.head(3)

,series_id,year,period,unemployment_rate,footnote_codes,area_code,series_title,area_text
0,LAUBS060000000000003,1999,M01,5.9,,BS0600000000000,"Unemployment Rate: Balance of California, stat...","Balance of California, state less Los Angeles-..."
1,LAUBS060000000000003,1999,M02,5.8,,BS0600000000000,"Unemployment Rate: Balance of California, stat...","Balance of California, state less Los Angeles-..."
2,LAUBS060000000000003,1999,M03,5.6,,BS0600000000000,"Unemployment Rate: Balance of California, stat...","Balance of California, state less Los Angeles-..."

In [84]:
dfunemfilename = ref.Home + '/labor.csv'
df_unem.to_csv(dfunemfilename, index_label=False)

In [85]:
df_unem[df_unem.series_title.str.find(r'Jefferson County, AR') != -1]

,series_id,year,period,unemployment_rate,footnote_codes,area_code,series_title,area_text
17004,LAUCN050690000000003,1999,M01,8.9,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17005,LAUCN050690000000003,1999,M02,8.4,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17006,LAUCN050690000000003,1999,M03,7.6,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17007,LAUCN050690000000003,1999,M04,7.3,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17008,LAUCN050690000000003,1999,M05,7.5,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17009,LAUCN050690000000003,1999,M06,8.4,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17010,LAUCN050690000000003,1999,M07,8.5,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17011,LAUCN050690000000003,1999,M08,7.9,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17012,LAUCN050690000000003,1999,M09,7.6,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17013,LAUCN050690000000003,1999,M10,6.9,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17014,LAUCN050690000000003,1999,M11,6.6,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17015,LAUCN050690000000003,1999,M12,6.6,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
17016,LAUCN050690000000003,1999,M13,7.7,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492596,LAUCN050690000000003,2000,M01,6.6,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492597,LAUCN050690000000003,2000,M02,6.5,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492598,LAUCN050690000000003,2000,M03,5.9,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492599,LAUCN050690000000003,2000,M04,5.4,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492600,LAUCN050690000000003,2000,M05,5.5,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492601,LAUCN050690000000003,2000,M06,5.8,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492602,LAUCN050690000000003,2000,M07,6.3,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492603,LAUCN050690000000003,2000,M08,5.8,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492604,LAUCN050690000000003,2000,M09,5.5,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492605,LAUCN050690000000003,2000,M10,5.1,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492606,LAUCN050690000000003,2000,M11,5.5,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492607,LAUCN050690000000003,2000,M12,5.9,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492608,LAUCN050690000000003,2000,M13,5.8,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492609,LAUCN050690000000003,2001,M01,7.6,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492610,LAUCN050690000000003,2001,M02,7.4,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492611,LAUCN050690000000003,2001,M03,7.2,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
492612,LAUCN050690000000003,2001,M04,6.8,,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
...,...,...,...,...,...,...,...,...
4706191,LAUCN050690000000003,2012,M10,9.4,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706192,LAUCN050690000000003,2012,M11,9.6,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706193,LAUCN050690000000003,2012,M12,10.2,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706194,LAUCN050690000000003,2012,M13,10,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706195,LAUCN050690000000003,2013,M01,11.3,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706196,LAUCN050690000000003,2013,M02,10.8,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706197,LAUCN050690000000003,2013,M03,10.3,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706198,LAUCN050690000000003,2013,M04,9.8,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706199,LAUCN050690000000003,2013,M05,10.1,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706200,LAUCN050690000000003,2013,M06,11.1,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706201,LAUCN050690000000003,2013,M07,11.2,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706202,LAUCN050690000000003,2013,M08,10.6,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706203,LAUCN050690000000003,2013,M09,10,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706204,LAUCN050690000000003,2013,M10,9.8,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706205,LAUCN050690000000003,2013,M11,9.9,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706206,LAUCN050690000000003,2013,M12,10.3,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706207,LAUCN050690000000003,2013,M13,10.4,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706208,LAUCN050690000000003,2014,M01,11,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706209,LAUCN050690000000003,2014,M02,10.6,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706210,LAUCN050690000000003,2014,M03,9.5,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706211,LAUCN050690000000003,2014,M04,8.7,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706212,LAUCN050690000000003,2014,M05,8.7,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706213,LAUCN050690000000003,2014,M06,9.1,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706214,LAUCN050690000000003,2014,M07,9.6,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706215,LAUCN050690000000003,2014,M08,8.5,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706216,LAUCN050690000000003,2014,M09,7.9,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706217,LAUCN050690000000003,2014,M10,7.2,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706218,LAUCN050690000000003,2014,M11,7.4,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706219,LAUCN050690000000003,2014,M12,7.6,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"
4706220,LAUCN050690000000003,2014,M13,8.8,r,CN0506900000000,"Unemployment Rate: Jefferson County, AR (U)","Jefferson County, AR"